<form method="POST" action="/formdata">
    <label for="destination">Destination:</label>
    <input list="destinations" name="destination" id="destination">
    <datalist id="destinations">
        <option value="Shanghai"></option>
        <option value="New York"></option>
        <option value="Changzhou"></option>
    </datalist>

    </Br></Br>

    <label for="currentlocation">Current Location:</label>
    <input list="currentlocations" name="currentlocation" id="currentlocation">
    <datalist id="currentlocations">
        <option value="Shanghai"></option>
        <option value="New York"></option>
        <option value="Changzhou"></option>
    </datalist>	

    <label for="transportation">By:</label>
    <input list="transportations" name="transportation" id="transportation">
    <datalist id="transportations">
        <option value="Seagull"></option>
        <option value="Whale"></option>
        <option value="Monkey"></option>
    </datalist>
    <br>
    <br>
    </Br></Br>
    <button>Submit</button>
   
</form>
<hr/>
<form method="GOT" action="/search">
    <input type="search" id="site-search" name="search" aria-label="Search through site content">
    <button>Search</button>
</form>